<nav class="navbar navbar-expand-lg navbar-light "
    style="position: fixed; z-index: 3;width: 100%; background: transparent;">
    <a class="navbar-brand" href="#">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/admin/add">Add_Product <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/admin/viewpro">View_Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/admin/orders">User_Orders</a>
            </li>
        </ul>

    </div>

    <div class="dropdown">
        <button class="btn  dropdown-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="background: transparent;">
            {{#if adminlog}}
            <b
                style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" class="text-dark">Admin</b>
            {{else}}
            <b
                style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Account</b>
            {{/if}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {{#if adminlog}}
            <a class="dropdown-item text-dark" href="/admin/logout">Logout</a>
            {{else}}
            <a class="dropdown-item" href="/admin">Login</a>
            {{/if}}
        </div>

    </div>
</nav>